<!DOCTYPE html>
<html>
<head>
  <title>Problem1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to('Home', root_path)%>
<%= link_to('Users', users_path)%>
<% if user_signed_in?%>
	<%= link_to('Sign Out',destroy_user_session_path, method: :delete)%>
	<p>Signed in as : <%=link_to(current_user.name, user_path(current_user.id))%></p>
<%end%>




<p><%= flash.alert %></p>
<p><%= flash.notice %></p>


<%= yield %>

</body>
</html>
